body{
    font-size: 12px;
    color: #333333;
}
.page-top{
    background-color: #333333;
    height: 40px;
    margin: auto;
}
.container{
    width: 1210px;
    margin: auto;
}
.page-top .top-lt{
    float: left;
    color: #bacbe6;

    margin-top: auto;
    margin-bottom: auto;

}
.page-top .top-lt a{
    color: #b0b0b0;
    /*垂直对齐 1是设定padding，2是设定line-height,让line-height等于父标签*/
    line-height: 40px;

}
.page-top .top-lt a:hover{
    color: white;
}
.page-top .top-lt span{
    vertical-align: middle;
    color: #424242;
    /*	相对于元素的字体大小（font-size）（2em 表示当前字体大小的 2 倍）*/
    margin: 0.3em;
}

.page-top .top-gt{
    float:right;
    height: 40px;
}
.page-top .login{
    float: left;
}
.page-top .top-gt a{
    vertical-align: middle;
    color: #b0b0b0;
    line-height: 40px;
}
.page-top .top-gt a:hover{
    color: white;
}
.page-top .login a{
    color: #b0b0b0;
}
.page-top .login a:hover{
    color: white;
}

.shopping-car{
    margin-left: 30px;
    float: right;
}

.page-top .top-lt .download{
    position: relative;
}

.page-top .top-lt .download:hover .downladbox {
    display: block;

}

.page-top .top-lt .download img{
    margin-left: 10px;
    margin-top: 10px;
    width: 90px;
    height: 90px;
}
.page-top .top-lt .download:hover:before {
    display: none;
    content: "";
    position: absolute;
    top:28px;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -8px;
    border-width: 0 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) #b6d4fe;

}
.page-top .top-lt .download:hover:after {
    display: block;
    content: "";
    position: absolute;
    top:28px;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -8px;
    border-width: 0 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) #b6d4fe;

}

.page-top .top-lt .downladbox{

    position: absolute;
    background-color: #b6d4fe;
    width: 110px;
    margin-left: -55px;
    left: 50%;
    top: 35px;
    display: none;
}

/*小米网站参照*/
a:active, a:hover {
    outline: 0
}
.site-topbar a:hover {
    color: #fff
}

.page-top  .top-lt .topbar-download {
    position: relative
}

.page-top .top-lt .topbar-download .appcode {
    position: absolute;
    top:25px;
    left: 50%;
    width: 124px;
    height: 0px;
    background: #fff;
    margin-left: -55px;
    -webkit-box-shadow: #aaa 0 1px 5px;
    box-shadow: 0 1px 5px #aaa;
    text-align: center;
    font-size: 14px;
    color: #333;
    line-height: 1;
    overflow: hidden;
    -webkit-transition: height .3s;
    transition: height .3s
}

.page-top .top-lt .topbar-download img {
    display: block;
    margin: 18px auto 12px
}

.page-top .top-lt .topbar-download.active:before {
    content: "";
    top:20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -8px;
    border-width: 0 8px 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff
}

.page-top .top-lt .topbar-download.active .appcode {
    height: 148px
}

